<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {{ template "_internal/opengraph.html" . }}
        {{ with $.Site.Params.twitterID }}
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="{{ . }}"/>
        {{ with $.Params.Images }}
        <meta name="twitter:image" content="{{ index . 0 | absURL }}"/>
        {{ else }}
        {{ with $.Site.Params.twitterImage }}
        <meta name="twitter:image" content="{{ . | absURL }}"/>
        {{ end }}
        {{ end }}
        {{ end }}
        <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title | default "Basics RSS" }}" href="/post/index.xml">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" href="/css/zenburn.css">
        <script src="/js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">

          <!-- empty brandname ensures toggler is on the right; hack really -->
          <span class="navbar-brand mb-0 h1"></span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation" name="button">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link {{ if eq .RelPermalink "/" }}active{{ end }}" href="/">Home</a>
              {{ with .Site.Params.github }}<a class="nav-item nav-link" href="https://github.com/{{ . }}" target="_blank">GitHub</a>{{ end }}
              {{ with .Site.Params.gitlab }}<a class="nav-item nav-link" href="https://gitlab.com/{{ . }}" target="_blank">GitLab</a>{{ end }}
              <a class="nav-item nav-link {{ if eq .RelPermalink "/about.html" }}active{{ end }}" href="/about.html">About</a>
              <a class="nav-item nav-link {{ if eq .RelPermalink "/post/index.xml" }}active{{ end }}" href="/post/index.xml">RSS</a>
            </div>
          </div>
        </nav>

        <section id="page-title">
          <h1><a href="/">{{ .Site.Title | default "Basics" }}</a></h1>
          <h6>Software Design, and my life.</h6>
        </section>
